*, *::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, 
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Roboto', sans-serif;

}
h1, h2, h3, h4, h5, li {
  font-family: 'Roboto Slab', serif;  
}
:root {
  --primary-green-color: #25e6c8;
  --primary-blue-color: #2baaec;
  --primary-black-color: #363636;
  --secondary-black-color: #626262;
}
.container {
  width: 100%;
  margin: auto;
}
.topMenu-container {
  width: 80%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}
.topMenu-text {
  margin-left: .5rem;
  color: var(--secondary-black-color);
}
.topMenu-clockicon,
.topMenu-text {
  vertical-align: middle;
  display: inline-block;
  line-height: 0rem;
}
.topMenu-icons i {
  color: var(--primary-blue-color);
  margin: 0 .8rem;
  transition: 0.3s ease-in-out;
}
.topMenu-border {
  margin-top: 1rem;
  border-bottom: 1.5px solid #707070;
}
.mainMenu-container {
  width: 80%;
  display: flex;
  margin-block: 3rem;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style-type: none;
}
.nav-links li {
  display: inline;
}
.drop-nav a {
  text-decoration: none;
  color: var(--primary-black-color);
  font-size: 18px;
  padding: 14px 16px;
}
.drop-nav {
  display: inline;
  align-content: flex-end;
}
.drop-nav li {
  display: inline-block;
}
.dropNav-links {
  position: absolute;
  width: auto;
  display: none;
  background-color: var(--primary-green-color);
  border-radius: 8px 0 8px 8px;
  right: 10%;
}
.drop-nav li ul li {
  display: block;
}
.drop-nav li ul li a {
  display: block !important;
}
.dropNav-links li {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}
.container-primary-grey {
  background-color: #DEDEDE;
}
.showcase-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase-placeholder {
  margin-top: 1rem;
  margin-right: 5rem;
  margin-bottom: -3px;
}
.showcase-sign {
  margin-left: 5rem;
  width: 40%;
}
.showcase-header {
  font-size: 60px;
  font-weight: 400;
  color: var(--primary-black-color);
  margin-bottom: 40px;
}
.text {
  line-height: 1.8rem;
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary-black-color);
  width: 85%;
}
.btn {
  padding: 1rem 4rem;
  border: none;
  border-radius: 8px;
}
.btn-text {
  font-size: 18px;
  font-weight: bold;
}
.btn-primary {
  margin: 40px 0 0 0;
  background-color: var(--primary-green-color);
  color: #fff;
  transition: 0.4s ease-in-out;
}
.btn-nav {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 8px;
}
.btn-nav i {
  color: #fff;
  transform: scale(2.5);
}
.btn-blue {
  background-color: var(--primary-blue-color);
}
.aboutUs-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}
.aboutUs-sign {
  width: 40%;
  margin-top: -5rem;
}
.aboutUs-header {
  color: var(--primary-black-color);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 4rem;
  width: 80%;
}
.aboutUs-header::after {
  content: '';
  display: block;
  height: 4px;
  background: var(--primary-green-color);
  margin-top: 1rem;
  width: 110%;
}
.aboutUs-header span {
  color: var(--primary-blue-color);
}
.aboutUs-stats {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
.aboutUs-stats h2 {
  color: var(--primary-blue-color);
  font-size: 40px;
  font-weight: 400;
}
.aboutUs-stats h5 {
  color: var(--primary-black-color);
  font-size: 18px;
  font-weight: 400;
}
.aboutUs-placeholder {
  margin: 0 5rem -5px -10rem;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10rem;
}
.container-secondary-grey {
  background-color: #F7F7F7;
}
.services-header {
  font-size: 40px;
  font-weight: 400;
  color: var(--primary-black-color);
  width: 60%;
  margin: 10rem auto 4rem auto;
}
.services-header::after {
  content: '';
  display: block;
  height: 4px;
  background: var(--primary-green-color);
  margin: 1rem auto;
  width: 40%;
}
.card-grid {
  width: 90%;
  max-width: 1840px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.card {
  background: #fff;
  width: 450px;
  height: 450px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.cardImg-bgr {
  background-color: var(--primary-green-color);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 4rem auto;
  transition: 0.4s ease-in-out;
}
.cardImg-bgr img {
  margin-top: 30px;
}
.card-header {
  font-size: 22px;
  font-weight: 400;
  color: var(--primary-black-color);
}
.card-text {
  width: 70%;
  line-height: 1.8rem;
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary-black-color);
  margin: 1.5rem auto;
}
.appointment-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}
.container-secondary-blue {
  background-color: var(--primary-blue-color);
}
.container-opacity-white {
  background-color: transparent #DEDEDE;
  opacity: 80%;
  
}
.appointment-text h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.btn-secondary {
  background-color: #fff;
  color: var(--primary-blue-color);
  transition: 0.25s ease-in-out;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem;
}
.container-primary-blue {
  background-color: var(--primary-blue-color);
}
.footer-text {
  color: #fff;
  opacity: 60%;
}
.footer-icons i {
  color: #fff;
  transform: scale(1.5);
  margin: 0 1rem;
}
.footer-icons i:hover {
  cursor: pointer;
  color: var(--primary-green-color);
}
.topMenu-icons i:hover {
  cursor: pointer;
  color: var(--primary-green-color);
}
.btn-blue:hover {
  cursor: pointer;
  background-color: var(--primary-green-color);
  border-radius: 8px 8px 0 0;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: var(--primary-blue-color);
}
.cardImg-bgr:hover {
  cursor: pointer;
  background-color: var(--primary-blue-color);
}
.btn-secondary:hover {
  cursor: pointer;
  background-color: var(--primary-blue-color);
  color: #fff;
}


@media (max-width: 576px) {
  .appointment-text {
    text-align: center;
  }
  .aboutUs-stats {
    gap: 3rem;
  }
}
@media (max-width: 768px) {

}
@media (max-width: 844px) {
  .drop-nav li:hover ul {
    display: block;
  }
  .dropNav-links li:hover {
    background-color: var(--primary-blue-color);
  }
  .dropNav-links li:hover:first-child {
    border-radius: 8px 0 0 0;
  }
  .dropNav-links li:hover:last-child {
    border-radius: 0 0 8px 8px;
  }
  .drop-nav:hover .btn-nav {
    background-color: var(--primary-green-color) !important;
    border-radius: 8px 8px 0 0;
  }
  .drop-nav a {
    color: #fff;
  }
  .dropNav-links li {
    border-bottom: none;
    border-top: none;
  }  
  .topMenu-container {
    justify-content: center;
  }
  .topMenu-icons {
    display: none;
  }
}
@media (min-width: 845px) {
  .mainMenu-container i {
    display: none;
  }
  .mainMenu-container button {
    display: none;
  }
  .dropNav-links {
    display: block;
  }
  .drop-nav li ul {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .drop-nav li ul li {
    background-color: #fff;
  }
  .dropNav-links li:hover {
    border-bottom: 2px solid var(--primary-green-color);
    border-top: 2px solid var(--primary-green-color);
    transform: scale(1.05);
  }
  .dropNav-links {
    right: 0;
  }  
  .footer-icons {
    display: none;
  }
  .footer-container {
    justify-content: center;
  }
}
@media (min-width: 992px) {

}
@media (max-width: 992px) {
  .topMenu-icons {
    transform: scale(1.5);
    margin-right: 5%;
  }
  .showcase-placeholder {
    display: none;
  }
  .showcase-sign {
    margin-left: 0;
    width: 70%;
    margin-block: 5rem;
    text-align: center;
  }
  .text {
    text-align: center;
    margin: auto;
  }
  .showcase-sign .btn {
    display: flex;
    margin: 40px auto;
  }
}
@media (max-width: 1080px) {
  .aboutUs-placeholder {
    display: none;
  }
  .aboutUs-sign {
    margin: 0;
    width: 60%;
    text-align: center;
  }
  .aboutUs-header {
    margin: auto;
  }
  .aboutUs-header::after {
    margin-block: 1.5rem;
    width: auto;
  }
  .aboutUs-container {
    margin-block: 5rem;
  }
  .appointment-container {
    flex-direction: column;
    padding: 2rem;
  }
  .appointment-container .btn {
    margin: 40px auto 0 auto;
  }
}
@media (max-width: 1200px) {
  .showcase-sign {
    margin-left: 0;
  }
}
@media (max-width: 1440px) {
  .aboutUs-placeholder {
    margin: 0 0rem -5px 0rem;
  }
}
@media (max-width: 1920px) {

}